name: End-to-end-test

run-name: "Workflow CI/CD Steps: end-to-end test on zombienet"

on:
  workflow_call:
  workflow_dispatch:

env:
  IMAGE_NAME: zencash/sc-ci-base
  IMAGE_TAG: noble_rust-stable_latest
  DOCKER_COMPOSE_CMD: "docker compose -f ${GITHUB_WORKSPACE}/ci/docker-compose.yml run --rm cargo-container"
  DOCKER_BUILD_DIR: /build
  DOCKER_CARGO_HOME: /tmp/.cargo

jobs:
  e2e-test:
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v4

      - name: Set up deps cache
        run: mkdir deps

      - name: Set up cargo cache
        uses: actions/cache@v4
        if: ${{ !env.ACT }}
        continue-on-error: true
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
            deps/
          key: e2e-test-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: e2e-test-cargo-

      - name: Set docker env vars
        run: |
          echo "USER_ID=$(id -u)" >> $GITHUB_ENV
          echo "GRP_ID=$(id -g)" >> $GITHUB_ENV

      - name: Cargo build
        run: ${{ env.DOCKER_COMPOSE_CMD }} cargo build --release

      - name: Yarn install and test
        shell: bash
        env:
          NODEJS_VERSION_INSTALL: 18
        run: |
          ${{ env.DOCKER_COMPOSE_CMD }} /bin/bash -c '
            set -o pipefail \
            && cd ${{ env.DOCKER_BUILD_DIR }}/e2e-tests \
            && yarn install \
            && yarn test 2>&1 | tee ${{ env.DOCKER_BUILD_DIR }}/e2e_test_output.txt
          '

      - name: Upload output(s)
        if: ${{ !env.ACT }}
        uses: actions/upload-artifact@v4
        with:
          name: e2e-test-output
          path: e2e_test_output.txt
          if-no-files-found: warn
          retention-days: 1
          compression-level: 0
          overwrite: true